
<div class="text-center">
    <h1 class="display-4">Ing. en Ciencias Computacionales<br /> Eduardo Mata (25 años)</h1>
    <h2>Soy un desarrollador fullstack especializado en tecnologías PHP, MySQL, .NET, SQL Server y JavaScript</h2>

    <img id="foto" src="~/imagenes/fotoCV.jpg" alt="foto de eduardo" />
</div>
<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="Dotnet Logo" />
</div>

<div class="row justify-content-center text-center">
    <div class="col col-md-7">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Llevo programando de manera personal desde el 2010, cuando inicié mi vida como programador web gracias a un curso de webmaster.
            De manera profesional he trabajado con el grupo Devux, y desarrollé una aplicación en VisualBasic-Excel para una empresa de automatización y óptica.
            Tengo dos diplomados en webmaster.
            Mi desarrollo académico es Ingeniería en Ciencias Computacionales, graduado en el 2020, con especializante en Bases de Datos.
        </p>
    </div>